@page
@model RestoStockDB.Pages.Proovedores.CreateModel

@{
    ViewData["Title"] = "CREAR PROOVEDOR";
}

<h1>Crear</h1>
<h4>Proovedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Proovedores.NombreEmpresa" class="control-label"></label>
                <input asp-for="Proovedores.NombreEmpresa" class="form-control" />
                <span asp-validation-for="Proovedores.NombreEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proovedores.Contacto" class="control-label"></label>
                <input asp-for="Proovedores.Contacto" class="control-control" />
                <span asp-validation-for="Proovedores.Contacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proovedores.Telefono" class="control-label"></label>
                <input asp-for="Proovedores.Telefono" class="control-control" />
                <span asp-validation-for="Proovedores.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proovedores.Email" class="control-label"></label>
                <input asp-for="Proovedores.Email" class="control-control" />
                <span asp-validation-for="Proovedores.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proovedores.Direccion" class="control-label"></label>
                <input asp-for="Proovedores.Direccion" class="control-control" />
                <span asp-validation-for="Proovedores.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
